* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    position: relative;
    height: 100%;
}

.wrapper {
    display: block;
    position: relative;
    height: 100%;
    min-width: 810px;
    min-height: 600px;
}

.head {
    position: relative;
    height: 100%;
    min-height: 600px;
}

header {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 19px 0px 0px;
    padding-right: 96px;
}

.header_login,.header_set{
    font-weight: normal;
}

header a,
header a:visited {
    margin-left: 20px;
    font: 13px arial;
    font-weight: bold;
    color: #000000;
}

header a:hover {
    color: #00c;
}

header a.header_set,
header a..header_login {
    font-style: normal;
}

.more_product {
    position: absolute;
    right: 10px;
    top: 0px;
    margin-left: 19px;
    margin-right: 2px;
    padding: 3px;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #0066FF;
}

.more_product:hover {
    color: #FFFFFF;
}

.main {
    position: relative;
    top: 60px;
    text-align: center;
}

.lg img {
    margin-bottom: 20px;
    width: 270px;
    height: 129px;
}

.searchbox {
    position: relative;
    margin: 0 auto;
}

.searchbox_text {
    position: relative;
    padding-left: 8px;
    width: 550px;
    height: 34px;
    border: 1px solid #DDDDDD;
}

.searchbox_text:hover {
    border: 1px solid #AAAAAA;
}

.searchbox_text:focus {
    border: 1px solid #5599FF;    
    outline: none;
}

span.voice{
    position: absolute;
    right: 410px;
    top: 3px;
    width: 30px;
    height: 32px;
    background-image: url(voice1.png);
    background-repeat: no-repeat;
    background-size:25px 25px; 
    background-position: 0 50%;
    cursor: pointer;
}

span.voice:hover{
    background-image: url(voice2.png);
    background-repeat: no-repeat;
    background-size:25px 25px; 
    background-position: 0 50%;
    cursor: pointer;
}

.searchbox_button {
    margin-left: -5px;
    width: 100px;
    height: 36px;
    border: 1px solid #0066FF;
    color: #FFFFFF;
    background-color: #0066FF;
    font: 15px arial;
}

.searchbox_button:hover {
    background-color: #4169E1;
    border: 1px solid #4169E1;
    box-shadow: 2px 2px 2px #DDDDDD;
    cursor: pointer;
}

footer {
    position: absolute;
    bottom: 44px;
    width: 100%;
    height: 100px;
    text-align: center;
}

#about {
    width: 720px;
    margin: 0 auto;
    text-align: center;
}

#about a {
    margin: 0px 10px;
    font-size: 12px;
    color: rgb(0, 0, 204)
}

#info {
    color: rgb(102, 102, 102);
    font-family: arial;
    font-size: 12px;
}

#info a {
    color: rgb(102, 102, 102);
}

#info i {
    display: inline-block;
    width: 14px;
    height: 17px;
    background-image: url(https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/global/img/icons_45de3f02.png);
    background-position: -600px -96px;
}
