* {
    margin: 0;
    padding: 0;
}

#outer {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -150px;
    background-color: silver;
    width: 300px;
    height: 300px;
}

div.top,div.left,div.center,div.right,div.bottom {
    width: 100px;
    height: 100px;
}

.top {
    background-color: red;
    margin-left: 100px;
}
.left {
    background-color: orange;
    display: inline-block;
}
.center {
    background-color: yellow;
    display: inline-block;
    margin-left: -4px;
}
.right {
    background-color: green;
    display: inline-block;
    margin-left: -4px;
}
.bottom {
    background-color: blue;
    margin-left: 100px;
}