* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    background-color: #0D7792;
}

.outer {
    width: 710px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 30px;
    background-color: #FFFFFF;
}

#header {
	overflow: hidden;
}

#header img {
    display: inline-block;
    margin-left: 29px;
    margin-top: 3px;
}

#header p {
    display: inline-block;
    margin-left: 340px;
}

#header p a {
	margin-left: 8px;
    font-size: 10px;
    color: rgb(255, 0, 153);
    text-decoration: none;
}

table {
	margin: 0px 35px;
	border-collapse: collapse;
	border:1px solid rgb(204, 204, 204);
	font-size: 10px;
	line-height: 20px;
}

table caption {
	margin-bottom: 15px;
	margin-top: 15px;
	font-size: 18px;
	font-weight: bold; 
}

td.tabel_left{
	text-align: -webkit-right;
	width: 125px;
	line-height: 150%;
	padding-right: 15px;
}
td.table_right{
	padding: 2px;
	width: 496px;
}
td.table_head {
	padding: 4px;
	font-size: 13px;
	line-height: 150%;
	font-weight: bold;
	/*letter-spacing: 3px;*/
	background-color: rgb(238, 238, 238);
	color:rgb(0, 51, 153);
}

span.red {
	color: red;
}
span.blue {
	color: blue;
}

























