body,h4,ul{
    margin: 0;
    padding: 0;
}

header .ui-new-toolbar {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: 44px;
    background: url(../images/bg-news-logo_344ce44.png) no-repeat center 6px;
    background-size: 77px auto;
    background-color: #3e98f0;
}

header .ui-new-toolbar .ui-new-toolbar-l {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}

header .ui-new-toolbar .ui-new-toolbar-r {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}

.ui-new-toolbar-btn {
    width: 34px;
    height: 100%;
    font-size: 15px;
    line-height: 44px;
}

.ui-new-toolbar-l .btn-baidu {
    display: inline-block;
    border: 0;
    background: url(../images/bg-new-toolbar_6e9bc53.png) no-repeat center 4px;
    background-size: 40px 500px;
}

.ui-new-toolbar-l .btn-userhome {
    display: inline-block;
    background: url(../images/bg-new-toolbar_6e9bc53.png) no-repeat center -463px;
    background-size: 40px 500px;
    margin-left: 7px;
}

.ui-new-toolbar-r .btn-search {
    display: inline-block;
    border: 0;
    background: url(../images/bg-new-toolbar_6e9bc53.png) no-repeat center -162px;
    background-size: 40px 500px;
}

.ui-new-toolbar-r .btn-subscribe {
    display: inline-block;
    background: url(../images/bg-new-toolbar_6e9bc53.png) no-repeat center -107px;
    background-size: 40px 500px;
    margin-left: 7px;
}

#index_view_navigator {
    position: relative;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    overflow: hidden;
    z-index: 2;
    color: #fff;
}




table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-family: arial;
    vertical-align: baseline;
    background-color: #3e98f0;
}

#index_view_navigator .content tr:first-child,
#index_view_navigator .content tr:first-child td {
    border-top: 0;
}

#index_view_navigator .content td {
	width: 61px;
    height: 33px;
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    text-align: center;
}

#index_view_navigator .content td>div {
    position: relative;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#index_view_navigator .content td b {
    position: absolute;
    top: 10px;
    left: 0;
    height: 12px;
    width: 1px;
    display: block;
    overflow-y: hidden;
    background-color: #5dabf0;
}

#index_view_navigator .content td span {
    padding-bottom: 3px;
    border-bottom: 2px solid transparent;
    color: #fff;
    white-space: nowrap;
    margin: 0 2px;
}

#index_view_navigator .content td span.cur {
    border-bottom: 1px solid #fff;
    margin: 0 2px;
}
div.topic-gallery-container{
    /*position: relative;*/
    padding: 10px 10px 0 10px;
    margin: 0 auto;
    overflow: hidden;
}
div.g-list{
    position: relative;
}
div.g-list img{
    width: 100%;
    margin-bottom: -1px;
}
div.g-list h4{
    width: 100%;
    position: absolute;
    background-color: rgba(10, 2, 2, 0.6);
    bottom: 3px;
}
div.g-icons {
    /*position: absolute;*/
    background-color: #3e98f0;
    margin-bottom: -2px;
    z-index: 10;
}
div.g-icons ul{
    height: 7px;
}
div.g-icons ul li{
    display: inline-block;
    list-style-type: none;
    width: 25%;
    height: 100%;
    text-align: center;
}
div.g-icons ul li:not(:first-child){
    margin-left: -6px;
    border-left: 2px solid #fff;
}
ul.index-list {
    /*width: ;*/
    padding: 10px 10px 0 10px;
    margin: 0 auto;
    overflow: hidden;
}
ul.index-list li.index-list-item {
    position: relative;
    border-bottom: 1px solid #eee;
    padding-bottom: 8px;
    list-style-type: none;
}
li.index-list-item:not(:first-child) {
    margin-top: 10px;
}
li.index-list-item img.news-img {
    width: 30%;
    background-color: #3e98f0;
}
li.index-list-item h4.news-title {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    width: 65%;
    font-weight: normal;
}
h4.news-title a.title{
    text-decoration: none;
    color: #333;
}
li.index-list-item span.date {
    font-size: 12px;
    color: #888;
    padding-left: 12px;
}
li.index-list-item span.topic-classify {
    font-size: 12px;
    color: #888;
    padding-left: 12px;
}