.Freebee_login{ background:url("Freebee_login.png") top left no-repeat; }
.Freebee_login_r2_c2{ width:38px; height:140px; background-position:-10px -10px; }
.Freebee_login_r4_c4{ width:336px; height:70px; background-position:-10px -160px; }
.Freebee_login_r6_c4{ width:336px; height:70px; background-position:-10px -240px; }
