/*file:///Applications/XAMPP/xamppfiles/htdocs/task3-baidu_index%E5%85%BC%E5%AE%B9%E5%85%B6%E4%BB%96%E6%B5%8F%E8%A7%88%E5%99%A8/baidu_index.html*/
html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    height: 100%;
    _min-height: 600px;
}

.wrapper {
    display: block;
    position: relative;
    height: 100%;
    min-width: 810px;
    _width:810px;/*ie*/
    min-height: 600px;
    _height: 600px;/*ie*/
}

.wrapper .head {
    position: relative;
    height: 100%;
    min-height: 600px;
    _height: 600px;/*ie*/
}

header {
    position: absolute;
    top: 3px;
    right: 0px;
    margin: 19px 0px 0px;
    padding-right: 96px;
}

header .header_login,
.header_set {
    font-weight: normal;
}

header a,
header a:visited {
    margin-left: 16px;
    font: 13px arial;
    font-weight: bold;
    color: #000000;
}

header a:hover {
    color: #00c;
}
header a:hover{zoom:1;}

header a.header_set,
header a..header_login {
    font-style: normal;
}

#header .more_product {
    position: absolute;
    right: 10px;
    top: -2px;
    margin-left: 19px;
    margin-right: 2px;
    padding: 4px;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #38F;
    font-weight: bold;
}

header .more_product:hover {
    color: #FFFFFF;
}

.main {
    position: relative;
    top: 90px;
    text-align: center;
}

.main .lg img {
    margin-bottom: 20px;
    width: 270px;
    height: 129px;
}

.main .searchbox {
    width: 100%;
    position: relative;
    font-size: 15px;
}

.searchbox .searchbox_wrapper {
    *float: left;
    font-size: 15px;
    position: relative;
    margin: 0 auto;
    width: 560px;
    height: 34px;
    display: inline-block;
}

.main .searchbox_text {
    padding-left: 8px;
    width: 530px;
    height: 34px;
    border: 1px solid #DDDDDD;
    font: 15px arial;
}

.main .searchbox_text:hover {
    border: 1px solid #AAAAAA;
}

.main .searchbox_text:focus {
    border: 1px solid #5599FF;
    outline: none;
}

.searchbox span.voice {
    display: none\9;/*ie*/
    position: absolute;
    right: 8px;
    right: 16px\9;
    top: 3px;
    width: 30px;
    height: 32px;
    background-image: url(../img/voice1.png);
    background-repeat: no-repeat;
    -webkit-background-size: 25px 25px;
    -moz-background-size: 25px 25px;
    background-size: 25px 25px;
    background-position: 0 50%;
    cursor: pointer;
    behavior: url(./ie-css3.htc);
}

.searchbox span.voice:hover {
    background-image: url(../img/voice2.png);
    background-repeat: no-repeat;
    -webkit-background-size: 25px 25px;
    -moz-background-size: 25px 25px;
    background-size: 25px 25px;
    background-position: 0 50%;
    cursor: pointer;
    behavior: url(./ie-css3.htc);
}

.searchbox .searchbox_button {
    *float: left;
    display: inline-block;
    position: relative;
    left: -14px;
    *left: -10px;
    top:7px\9;/*ie*/
    *top: 1px;
    top:-1px\0;/*ie*/
}

.searchbox .searchbox_button:hover {
    box-shadow: 1px 1px 1px #ccc;
    behavior: url(./ie-css3.htc);
}

.searchbox .searchbox_button input {
    width: 100px;
    height: 38px;
    border: none;
    color: #FFFFFF;
    background-color: #38F;
    font: 15px arial;
    letter-spacing: 1px;
    outline: none;
}
.searchbox .searchbox_button input:hover {
    cursor: pointer;
    background-color: #4169E1;
}

footer {
    position: absolute;
    bottom: 35px;
    width: 100%;
    height: 100px;
    text-align: center;
}

footer #about {
    width: 720px;
    margin: 0 auto;
    text-align: center;
}

footer #about a {
    margin: 0px 8px;
    font-size: 12px;
    color: rgb(0, 0, 204)
}

footer #info {
    color: rgb(102, 102, 102);
    font-size: 12px;
}

footer #info a {
    color: rgb(102, 102, 102);
}

footer #info i {
    display: inline-block;
    width: 14px;
    height: 17px;
    background-image: url(../img/icons_45de3f02.png);
    background-position: -600px -96px;
}
